@model IEnumerable<Consilium.Models.MiembroXComision>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipoMiembro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComisionXSesion.idComisionXSesion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoMiembro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComisionXSesion.idComisionXSesion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idMiembroXComision }) |
            @Html.ActionLink("Details", "Details", new { id=item.idMiembroXComision }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idMiembroXComision })
        </td>
    </tr>
}

</table>
