@model Consilium.Models.ComisionXSesion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComisionXSesion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comision.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comision.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sesion.documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sesion.documento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idComisionXSesion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
