@model Consilium.Models.PuntoXAgenda

@{
    ViewBag.Title = "Details";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consilium - Registrar nuevo usuario</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/maquetacion.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/encabezado.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/w3.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>


    <style>

        dl {
            border: 0px solid #000000;
            width: 60%;
            padding: 0.5em;
            left: 500px;
        }

        dt {
            font-weight: bold;
            text-decoration: underline;
            font-size: 1em;
        }

        dd {
            margin: 0;
            padding: 0 0 0.5em 0;
        }

        dt::after {
            content: ":";
        }
    </style>


</head>

<body>
    <div id="contenedorVistaParcial">@Html.Partial("_encabezado")</div>
    <div id="content-container1">
        <div id="content-container2">
            <div id="content">
                <div style="position: absolute; left: 70%; top: 50%; ">
                    <img src="~/Content/fondo_logo_ic_grande.png" class="pruebaLogo" />
                </div>
                <br /> <br />
                <h2 style="text-align: left; color:#222222; padding-left:4em; font-family:Arial;font-weight:bolder "> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Detalles de la justificación</h2>
                @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                {
                    <div class="alert alert-success col-md-6">
                        <strong> ¡La operación se realizó con éxito!</strong>@ViewBag.Message
                    </div>
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <hr style="height:2px;width: 80% ;border:none;color:#333;background-color:#333;" />
                        <div class="form-horizontal" style="color:#222222; font-size: 14px; font-weight:lighter;font-family:Verdana, Geneva, Tahoma, sans-serif;  position:relative; left:20%">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Agenda.idAgenda)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Agenda.idAgenda)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Punto.titulo)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Punto.titulo)
                                </dd>

                            </dl>



                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-10">
                                    @Html.ActionLink("Editar", "Edit", new { id = Model.idPuntoXAgenda }) |
                                    @Html.ActionLink("Regresar", "Index")


                                </div>
                                <div>
                                    <p>
                                    </p>
                                </div>

                            </div>



                        </div>
                        if (ViewBag.Message != null)
                        {
                            <div class="alert alert-danger col-md-6">
                                <strong>¡Error!  </strong>@ViewBag.Message
                            </div>
                        }
                    }

                }
                <br /> <br /><br />
            </div>
        </div>
    </div>

    <div id="navigation-container">
        <div id="navigation">
            @if (ViewBag.param == 0)
            {
            @Html.Partial("_menuSecretaria")
            }
            else if(ViewBag.param==1) {
            @Html.Partial("_menuPresidente")
            }
        </div>
    </div>






</body>