@model Consilium.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logueo.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logueo.nombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoUsuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoUsuario.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
