@model IEnumerable<Consilium.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logueo.nombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoUsuario.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logueo.nombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoUsuario.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.idUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idUsuario })
        </td>
    </tr>
}

</table>
