@model IEnumerable<Consilium.Models.Comision>

@{
    ViewBag.Title = "Index";
}

<h2>Comosiones</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objetivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaIni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Punto.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sesion.idSesion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.objetivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaIni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Punto.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sesion.idSesion)
        </td>
        <td>
            @Html.ActionLink("Ver comisión", "Details", new { id=item.idComision }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idComision })
        </td>
    </tr>
}

</table>
