@model IEnumerable<Consilium.Models.Punto>

@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consilium - Miembros del Consejo</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/maquetacion.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/encabezado.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/w3.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        #formatoTabla {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #formatoTabla td, #formatoTabla th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #formatoTabla tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #formatoTabla tr:hover {
                background-color: #ddd;
            }

            #formatoTabla th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #000000;
                color: white;
            }
    </style>


</head>



<body>
    @if (HttpContext.Current.User.Identity.Name != "")
    {
        <div id="contenedorVistaParcial">@Html.Partial("_encabezado")</div>
        <div id="content-container1">
            <div id="content-container2">
                <div id="content">
                    <div style="position: absolute; left: 70%; top: 50%; ">
                        <img src="~/Content/fondo_logo_ic_grande.png" class="pruebaLogo" />
                    </div>
                    <br /> <br />
                    <h2 style="text-align: center; color:#222222; padding-left:4em; font-family:Arial;font-weight:bolder ; width:70% ">Punto agenda</h2>

                    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                    {
                        <div class="alert alert-success col-md-6">
                            <strong> ¡La operación se realizó con éxito!</strong>@ViewBag.Message
                        </div>
                    }
                    else
                    {
                        using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <hr style="height:2px;width: 90% ;border:none;color:#333;background-color:#333;" />
                            <div class="form-horizontal" style="color:#222222; font-size: 14px; font-weight:lighter;font-family:Verdana, Geneva, Tahoma, sans-serif;  position:relative; left:0; width:90%">
                                <table class="table" id="formatoTabla">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.fecha)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.titulo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.considerandos)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.resultandos)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.acuerdos)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.adjunto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EstadoPunto.nombre)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Usuario.nombre)
                                        </th>
                                        <th  width="100">Opciones</th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.fecha)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.titulo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.considerandos)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.resultandos)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.acuerdos)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.adjunto)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EstadoPunto.nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Usuario.nombre)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.idPunto }) |
                                                @Html.ActionLink("Ver", "Details", new { id = item.idPunto }) |
                                                @Html.ActionLink("Eliminar", "Delete", new { id = item.idPunto })
                                            </td>
                                        </tr>
                                    }
                                </table>
                                <div class="form-group">
                                    <div style="position: absolute; left:1%;  " >
                                        @Html.ActionLink(">>>Crear nuevo punto<<<", "Create")
                                    </div>
                                </div>

                            </div>
                            if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger col-md-6">
                                    <strong>¡Error!  </strong>@ViewBag.Message
                                </div>
                            }
                        }

                    }
                    <br /> <br /><br />
                </div>
            </div>
        </div>
        string[] data = HttpContext.Current.User.Identity.Name.Split('&');
        <div id="navigation-container">
            <div id="navigation">
                @if (data[2] == "0")
                {
                    @Html.Partial("_menuSecretaria")
                }
                else if (data[2] == "1")
                {
                    @Html.Partial("_menuPresidente")
                }
            </div>
        </div>
    }
    else
    {
        <div id="contenedorVistaParcial">@Html.Partial("_noAutorizado")</div>
    }

</body>
