@model Consilium.Models.Extended.SesionActiva
@{
    ViewBag.Title = "Sesion activa";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consilium - Miembros del Consejo</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/maquetacion.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/encabezado.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/w3.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>

        #formatoTabla {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #formatoTabla td, #formatoTabla th {
                border: 1px solid #ddd;
                padding: 8px;
            }

        }

        #formatoTabla tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #formatoTabla tr:hover {
            background-color: #ddd;
        }

        #formatoTabla th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #000000;
            color: white;
        }

        #input-default {
            font-size: 3.0em;
            width: 100px;
            height: 50px;
            background-color: #F3F781;
            text-align: center;
        }

        .estiloQuorum {
            border-style: solid;
            border-color: #000000;
            font-size: 35px;
            width: 100px;
            height: 50px;
        }
    </style>

</head>

<body>
    @if (HttpContext.Current.User.Identity.Name != "")
    {
        <div id="contenedorVistaParcial">@Html.Partial("_encabezado")</div>
        <div id="content-container1">
            <div id="content-container2">





                <div id="content">
                    <div style="position: absolute; left: 70%; top: 50%; ">
                        <img src="~/Content/fondo_logo_ic_grande.png" class="pruebaLogo" />
                    </div>
                    <br /> <br />
                    <h2 style="text-align: center; color:#222222; padding-left:4em; font-family:Arial;font-weight:bolder; width:70% ">Sesión Activa</h2>
                    <hr style="height:2px;width: 97% ;border:none;color:#333;background-color:#333;" />
                    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                    {
                        <div class="alert alert-success col-md-6">
                            <strong> ¡La operación se realizó con éxito!</strong>@ViewBag.Message
                        </div>
                    }
                    else
                    {
                        using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()



                            <table style="width:95% ; margin-left:20px" border="0" cellspacing="20">
                                <tr>
                                </tr>
                                <tr>

                                    <td valign="top">
                                        <h3 align="center"><b><u>Quórum</u></b></h3>
                                        @if ((Model.quorum) < 25)
                                        {
                                            <center><p class="estiloQuorum" style="background-color:#ff0000">@Html.DisplayFor(model => model.quorum)</p></center>

                                        }
                                        else
                                        {
                                            <center><p class="estiloQuorum" style="background-color:aquamarine">@Html.DisplayFor(model => model.quorum)</p></center>

                                        }


                                        <table>
                                            @for (int i = 0; i < Model.usuario.Usuarios.Count; i++)
                                            {
                                                if (i % 1 == 0)
                                                {
                                                    @:
                                                    <tr></tr>
                                                }

                                                <td>
                                                    @Html.CheckBoxFor(model => model.usuario.Usuarios[i].isSelected)
                                                    <label>@Model.usuario.Usuarios[i].nombre @Model.usuario.Usuarios[i].apellidoP @Model.usuario.Usuarios[i].apellidoM</label>
                                                    @Html.HiddenFor(model => model.usuario.Usuarios[i].idUsuario)
                                                    @Html.HiddenFor(model => model.usuario.Usuarios[i].nombre)
                                                    @Html.HiddenFor(model => model.usuario.Usuarios[i].apellidoP)
                                                    @Html.HiddenFor(model => model.usuario.Usuarios[i].apellidoM)
                                                    @Html.HiddenFor(model => Model.usuario.sesion)
                                                </td>
                                            }
                                        </table>
                                        <br />
                                        <center>  <input type="submit" value="Guardar" class="w3-button w3-block w3-black" style="width:35% " /></center>
                                        <br/>
                                        <center>@Html.ActionLink("Regresar", "Index", new { id = Model.idSesion })</center>
                                    </td>

                                    <td bgcolor="#E6E6E6" width="1px"></td>
                                    <td width="5%"></td>


                                    <td valign="top">


                                        <h3 align="center"><b><u>Puntos a tratar</u></b></h3>
                                        <table class="table" id="formatoTabla">
                                            <col width="30">
                                            <col width="190">
                                            <col width="50">
                                            <col width="50">
                                            <tr>
                                                <th>
                                                    Nº
                                                </th>
                                                <th>
                                                    Título
                                                </th>
                                                <th>
                                                    Estado
                                                </th>
                                                <th>
                                                    Opción
                                                </th>
                                            </tr>
                                            @foreach (var item in Model.Puntos)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.idPunto)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Punto.titulo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Punto.EstadoPunto.nombre)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Votar", "Vote", new { id = item.Punto.idPunto, quorum = Model.quorum })
                                                    </td>
                                                </tr>
                                            }
                                        </table>





                                    </td>
                                </tr>
                            </table>





                            
                            if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger col-md-6">
                                    <strong>¡Error!  </strong>@ViewBag.Message
                                </div>
                            }
                        }

                    }
                    <br /> <br /><br />

                </div>
            </div>
        </div>

        string[] data = HttpContext.Current.User.Identity.Name.Split('&');
        <div id="navigation-container">
            <div id="navigation">
                @if (data[2] == "0")
                {
                    @Html.Partial("_menuSecretaria")
                }
                else if (data[2] == "1")
                {
                    @Html.Partial("_menuPresidente")
                }
            </div>
        </div>
    }
    else
    {
        <div id="contenedorVistaParcial">@Html.Partial("_noAutorizado")</div>
    }
</body>