@model IEnumerable<Consilium.Models.Sesion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idAgenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSesion.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idAgenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSesion.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idSesion }) |
            @Html.ActionLink("Details", "Details", new { id=item.idSesion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idSesion })
        </td>
    </tr>
}

</table>
