@model Consilium.Models.Extended.SesionPuntos

@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consilium - Sesión</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/maquetacion.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/encabezado.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/w3.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        #formatoTabla {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #formatoTabla td, #formatoTabla th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #formatoTabla tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #formatoTabla tr:hover {
                background-color: #ddd;
            }

            #formatoTabla th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #000000;
                color: white;
            }
    </style>


</head>



<body>
    @if (HttpContext.Current.User.Identity.Name != "")
    {
        <div id="contenedorVistaParcial">@Html.Partial("_encabezado")</div>
        <div id="content-container1">
            <div id="content-container2">
                <div id="content">
                    <div style="position: absolute; left: 70%; top: 50%; ">
                        <img src="~/Content/fondo_logo_ic_grande.png" class="pruebaLogo" />
                    </div>
                    <br /> <br />
                    <h2 style="text-align: center; color:#222222; padding-left:4em; font-family:Arial;font-weight:bolder ; width:70% ">Puntos Sesión: @Model.idSesion</h2>

                    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
                <div class="alert alert-success col-md-6">
                    <strong> ¡La operación se realizó con éxito!</strong>@ViewBag.Message
                </div>
}
else
{
using (Html.BeginForm())
{
                @Html.AntiForgeryToken()
                <hr style="height:2px;width: 90% ;border:none;color:#333;background-color:#333;" />
                <h3 style="text-align: center; color:#222222; padding-left:4em; font-family:Arial;font-weight:bolder ; width:70% ">Puntos agregados</h3>
                <div class="form-horizontal" style="color:#222222; font-size: 14px; font-weight:lighter;font-family:Verdana, Geneva, Tahoma, sans-serif;  position:relative; left:0; width:95%; overflow-x:auto;overflow-y:scroll;height: 30%">
                    <table class="table" id="formatoTabla">
                        <tr>
                            <th>
                                Título
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Usuario
                            </th>
                            <th width="100">Opciones</th>
                        </tr>
                        @foreach (var item in Model.PuntosActuales)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Punto.titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Punto.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Punto.EstadoPunto.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Punto.Usuario.nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Quitar", "Edit", new { id = item.Punto.idPunto })
                    </td>
                </tr>
}
                    </table>
                </div>
                <hr style="height:2px;width: 90% ;border:none;color:#333;background-color:#333;" />
                <h3 style="text-align: center; color:#222222; padding-left:4em; font-family:Arial;font-weight:bolder ; width:70% ">Puntos pendientes</h3>
                <div class="form-horizontal" style="color:#222222; font-size: 14px; font-weight:lighter;font-family:Verdana, Geneva, Tahoma, sans-serif;  position:relative; left:0; width:95%; overflow-x:auto;overflow-y:scroll;height: 30%">
                    <table class="table" id="formatoTabla">
                        <tr>
                            <th>
                                Tíyulo
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Usuario
                            </th>
                            <th width="100">Opciones</th>
                        </tr>
                        @foreach (var item in Model.Puntos.Where(a => a.EstadoPunto.idEstado == 1))
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoPunto.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Agregar", "agregarPunto", new { idPunto = item.idPunto, idSesion = Model.idSesion })
                    </td>
                </tr>
}
                    </table>

                </div>
                @Html.ActionLink("Regresar", "Index", new { id = Model.idSesion })
if (ViewBag.Message != null)
{
                <div class="alert alert-danger col-md-6">
                    <strong>¡Error!  </strong>@ViewBag.Message
                </div>
}
}

}
                    <br /> <br /><br />
                </div>
            </div>
            
        </div>        
        string[] data = HttpContext.Current.User.Identity.Name.Split('&');
        <div id="navigation-container">
            <div id="navigation">
                @if (data[2] == "0")
                {
                    @Html.Partial("_menuSecretaria")
                }
                else if (data[2] == "1")
                {
                    @Html.Partial("_menuPresidente")
                }
            </div>
        </div>
    }
    else
    {
        < div id = "contenedorVistaParcial" > @Html.Partial("_noAutorizado") </ div >
    }

</body>
