@model Consilium.Models.Justificacion
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consilium - Ingresar justificación de ausencia</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/maquetacion.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/encabezado.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/w3.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<style>

    textarea {
        font-family: inherit;
        height: 130px;
    }
</style>
<body>
    <div id="contenedorVistaParcial">@Html.Partial("_encabezado")</div>
    <div id="content-container1">
        <div id="content-container2">
            <div id="content">
                <div style="position: absolute; left: 70%; top: 50%; ">
                    <img src="~/Content/fondo_logo_ic_grande.png" class="pruebaLogo" />
                </div>
                <br /> <br />
                <h2 style="text-align: left; color:#222222; padding-left:4em; font-family:Arial;font-weight:bolder "> &nbsp;&nbsp;Ingresar una justificación de ausencia</h2>
                @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                {
                    <hr style="height:2px;width: 80% ;border:none;color:#333;background-color:#333;" />
                    <br />
                    <div class="alert alert-success col-md-4" style="position: absolute; left: 35%; ">
                        <strong> ¡La operación se realizó con éxito!</strong>
                    </div>
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal " style="color:#222222; font-size: 14px; font-weight:lighter;font-family:Verdana, Geneva, Tahoma, sans-serif">
                            <hr style="height:2px;width: 80% ;border:none;color:#333;background-color:#333;" />

                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.LabelFor(model => model.fecha, "Fecha", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">

                                    @Html.TextBoxFor(model => model.fecha, new { @type = "date", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.asunto, "Asunto", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">

                                    @Html.EditorFor(model => model.asunto, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.asunto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.texto, "Contenido", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextAreaFor(model => model.texto)
                                    @Html.ValidationMessageFor(model => model.texto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-10">
                                    <input type="submit" value="INSERTAR" class="w3-button w3-block w3-black" style="width:17% " />
                                </div>
                            </div>


                        </div>
                        if (ViewBag.Message != null)
                        {
                            <hr style="height:2px;width: 80% ;border:none;color:#333;background-color:#333;" />
                            <br />
                            <div class="alert alert-success col-md-4" style="position: absolute; left: 35%; ">
                                <strong> ¡Error al ingresar la solicitud!</strong>
                            </div>
                        }
                    }

                }
                <br /> <br /><br />
            </div>
        </div>
    </div>
    <div id="navigation-container">
        <div id="navigation">
            @Html.Partial("_menuMiembros")
        </div>
    </div>


</body>

